/node_modules
/public/hot
/public/vendor
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log


// bỏ rồi mà file vendor nó đen sì rồi 
// bật git lên đi làm gì có vendor nhỉ 